<%-include("header")-%>

    <div class="things">
      <form action="/34ec78fcc91ffb1e54cd85e4a0924332" method="post">
        <label for="">question</label><input type="text" name="text">
        <label for="">photo</label><input type="text" name="photo">
        <label for="">answer</label><input type="text" name="answer">
        <button type="submit" >add</button>
        <form action="">
          <input type="radio" id="age1" name="age" value="1">
          <label for="age1">video</label><br>
          <input type="radio" id="age2" name="age" value="0">
          <label for="age2">image</label><br>  
      </form>
    </div>
</body>