<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        body{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('https://cdn.hipwallpaper.com/i/82/90/w9lzc1.jpg');

 color: azure;

}

.things{
  color: #fff;
  text-align: center;
  height:600px;
  width:800px;
  border: 1px solid #000;
}
footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #000;
}
li{
  list-style-type: none;
}
.mother{
  align-items: center;
    display: flex;
    justify-content: center;
}
.treasure{
  align-items: center;
    display: flex;
    justify-content: center;
}

    </style>
</head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">THUNT</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/add">Add</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add/view">view</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/logout">logout</a>
          </li>
        </ul>
      </div>

      Hello <%=name%>
    </nav>
<div class="mother">
    <div class="things">
      <div class="inside">
      <form action="/add" method="post">
        <li>
        <ul><label for="">question</label><input type="text" name="text"></ul> 
        <ul><label for="">link    </label><input type="text" name="photo"></ul>
        <ul><label for="">answer  </label><input type="text" name="answer"></ul>
        <ul><label for="">hint1  </label><input type="text" name="hint1"></ul>
        <ul><label for="">hint2  </label><input type="text" name="hint2"></ul>

        <form action="">
          <ul><label for="age1">video</label><input type="radio" id="age1" name="age" value="1"></ul>
          <ul><label for="age2">image</label><input type="radio" id="age2" name="age" value="0"></ul>
          <ul><label for="age3">link</label><input type="radio" id="age3" name="age" value="2"></ul>
          <ul><button type="submit" >add</button></ul>

          <p>if you have google drive link generate a link by clicking <a href="https://www.wonderplugin.com/online-tools/google-drive-direct-link-generator/" target="_blank" rel="noopener noreferrer">here</a> </p>

      </form>
      </form>
      </li>
    </div>
  </div>
</div>

</body>