<%-include("header")-%>
<div class="mother">
<form action="/play/<%=gameid%>/<%=playername%>/comments" method="post">
    <input type="text" name="comment" style="width: 380px;margin-top: 295px;" placeholder="feedback here"/>
    <button class="btn btn-primary">Add</button>
</form>

</div>

<%-include("footer")-%>