<%-include("header")-%>

<div>
    <h1>Contact Me On</h1>
    <a href="https://www.instagram.com/n.r_rohor_r.n/?hl=en" target="_blank"><i class="fab fa-instagram" style="font-size:50px"></i></a>
    <a href="https://wa.me/qr/SUT72KSET2C6A1" target="_blank"><i class="fab fa-whatsapp-square" style="font-size:50px"></i></a>
    <a href="https://github.com/60H09/treasure-hunt" target="_blank"><i class="fab fa-github-square" style="font-size:50px"></i></a>
</div>

<%-include("footer")-%>