<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('https://cdn.hipwallpaper.com/i/82/90/w9lzc1.jpg');

 color: azure;

}
.question{
  border: 1px solid;


}
.things{
  text-align: center;
  height:600px;
  width:800px;
  border: 1px solid #000

}
footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #000;
}
li{
  list-style-type: none;
}
.mother{
  align-items: center;
    display: flex;
    justify-content: center;
}
.treasure{
  align-items: center;
    display: flex;
    justify-content: center;
}

    </style>
</head>
  <body>
    <nav class="navbar navbar-light bg-dark">
      <span class="navbar-brand mb-0 h1">THUNTER</span>
    </nav>