<%-include("header")-%>

<div class="mother">
    <form action="/" method="post">
        <label for="">Enter admin name</label><input type="text" name="adminName" autocomplete="off">
        <button type="submit">enter</button>
    </form>
</div>

<%-include("footer")-%>
