<%-include("header")-%>

<div class="mother" style="padding-top:15rem">
    <form action="/" method="post">
        <label for="">Enter admin name</label><input type="text" name="adminName" autocomplete="off" style="margin-right:5px; margin-left:7px;">
        <button type="submit">enter</button>
    </form>
</div>

<%-include("footer")-%>
