<%-include("header")-%>

<div class="mother">
    <form action="/register/<%=id%>" method="post">
        <label for="">Enter Player name</label><input type="text" name="playerName" autocomplete="off">
        <button type="submit">enter</button>
    </form>
</div>

<%-include("footer")-%>
