<%-include("header")-%>
<div style="margin-left: 72px; text-align: center; color:red">
    <h1>Disclaimer!!!</h1>
    <h2>Use PC For better experience!!</h2>
</div>
<div class="mother" style="padding-top:13rem">
    <form action="/register/<%=id%>" method="post">
        <table>
            <tr><ul><td>  <label for="">Enter Player name</label><input type="text" name="playerName" autocomplete="off" style="margin-right:5px; margin-left:7px; margin-top: 15px;">   </td></ul></tr> 
            <tr><ul><td>  <label for="">Enter Player Email</label><input type="email" name="playerEmail" autocomplete="off" style="margin-right:5px; margin-left:7px; margin-top: 15px;" required/></td></ul></tr>
          </table>
        <button class="btn btn-primary" type="submit" style="margin-left: 155px; margin-top: 12px;">enter</button>
    </form>
</div>

<%-include("footer")-%>
