<%-include("header")-%>
<div class="mother">
    <div class="rules">

<h1 style="margin-left: 172px;margin-bottom: 20px;">Rules</h1>
<l>
    <li>1. You Don't talk about Fight Club because its Thunt(തണ്ട്) not the other way around</li>
    <li>2. Be sure to report to your admin after you fid the treasure</li>
    <li>3. Nothing is true everything is permitted</li>
    <li>4. Not for the weak hearted</li>
    <li>5. Remember all of them and you are good to go</li>
  </ul>  
</div>
</div>

<%-include("footer")-%>
