<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>treasure</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
       body {
    background-image: url('https://cutewallpaper.org/21/young-leonardo-dicaprio-wallpaper/Leonardo-dicaprio-Wallpapers-Free-by-ZEDGE_tm_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: azure;
   }    


@media (min-width: 1024px) {
    body {
    background-image: url("https://i.pinimg.com/originals/c6/12/ca/c612ca1172b567ce209f0960c3f92110.jpg");
    color: azure;
   }
} 
     
        .hand{
            margin-left: 183px;
            margin-top: 490px;
            border-radius:100%;
            padding:10px 10px 0 0;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.8);
            background: rgb(145, 92, 182);
            transition: all 0.2s ease-in-out;

        }
        @media (min-width: 1024px) {
            .hand{
            margin-left: 36rem;
            margin-top: 28rem;
            border-radius:100%;
            padding:10px 10px 0 0;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.8);
            background: rgb(145, 92, 182);
            transition: all 0.2s ease-in-out;

        }
} 
        .hand:hover{
           background:blue;
        }
        
        </style>

</head>
<body>
<section>
    <button class="hand"  onclick="function hi(){alert('cheers dude \nYou have found the treasure\n\nI have fought the good fight, I have finished the race, I have kept the faith that I will win.\n 2 Timothy 4:7(a bit modified) \n\n\n anyway kudosâ¤ï¸âœ¨ðŸŽŠ')};hi(); window.location.href='#comments' "></button>
<div style="height:20px; margin-top: 278px;margin-left: 368px; " >
</div>
</section>
<section style="background-color: #11052C;text-align: center; padding: 3% 0 3%; height :50px" id="comments">
    <div class="mother">
        <form action="/play/<%=gameid%>/<%=playername%>/comments" method="post">
            <input type="text" name="comment" style="width: 380px;" placeholder="feedback here"/>
            <button class="btn btn-primary">Add</button>
        </form>
        
        </div>
</section>
</body>
</html>