<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>treasure</title>
    <style>
        body{
        background-image:url("https://www.malayalamplainmemes.download/images/vietnam-colony-sankaradi-kymdi/full");
        background-repeat: no-repeat;
        background-size: cover;
        }   
        .hand{
            margin-left: 690px;
            margin-top: 198px;
            border-radius:100%;
            padding:10px 10px 0 0;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.8);
            background: rgb(145, 92, 182);
            transition: all 0.2s ease-in-out;

        }
        .hand:hover{
           background:blue;
        }
        </style>

</head>
<body>
    <button class="hand"  onclick="function hi(){alert('HiFive aa rekha ente kayyil und pakshe ningl jayichathinte rekha ilaa ath adminod choikk adminodu choikku! anyway \n\nI have fought the good fight, I have finished the race, I have kept the faith that I will win.\n 2 Timothy 4:7(a bit modified) \n anyway kudosâ¤ï¸âœ¨ðŸŽŠ')};hi()"></button>
<div style="height:20px; margin-top: 278px;margin-left: 368px; " >
   <a href="<%=commentlink%>" style="text-decoration: none" target="_blank">If you have any comments feel free to post it </a>
</div>
</body>
</html>